{% extends 'base.html.twig' %}

{% block title %}Page accueil{% endblock %}
{% block stylesheets %}

			{{ encore_entry_link_tags('produit') }}
{% endblock %}

{% block body %}
	<div id="produit" class="container"></div>
	{% block javascripts %}
			{{ encore_entry_script_tags('produit') }}
	{% endblock %}
{% endblock %}
